html, body {
	padding: 0;
	margin: 0;
  height: 100%;
  font-family: Montserrat, Arial, sans-serif;
  color: #fff;
  background-color: #181818;
  -webkit-appearance: none;
}

#nowPlayingBarContainer {
	width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar {
	display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
    justify-content: space-between;
}

#nowPlayingLeft,
#nowPlayingRight {
	width: 30%;
  min-width: 180px;
  display: flex;
  align-items: center;
}

#nowPlayingCenter {
	width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
  width: 100%;
  display: flex;
  align-items: center;
}

.playerControls .buttons {
	margin: 0 auto;
    display: table;
}

.controlButton {
	background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img {
	width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
	width: 37px;
	height: 37px;
}

.controlButton:hover {
  cursor: pointer;
}

.progressTime {
	color: #a0a0a0;
  font-size: 14px;
  min-width: 40px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
}

.playbackBar {
  margin-top: 4px;
  display: flex;
  width: 100%;
  align-items: center;
}

.progressBar {
	width: 100%;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
	background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
	background-color: #1DB954;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

#nowPlayingLeft .albumArtwork {
  max-width: 57px;
  margin-right: 15px;
  float: left;
  background-size: cover;
  cursor: pointer;
}

#nowPlayingLeft .trackInfo {
  display: table;
}

#nowPlayingLeft .trackInfo .trackName {
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

#nowPlayingLeft .trackInfo .artistName {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: #a0a0a0;
  cursor: pointer;
}

#nowPlayingRight {
  position: relative;
}

#nowPlayingRight .volumeBar {
  width: 162px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

#nowPlayingRight .volumeBar .progressBar {
  width: 100%;
  padding: 8px;
}

#topContainer {
  min-height: 100%;
  width: 100%;
}

#navBarContainer {
  background-color: #000;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: #a0a0a0;
}

#navBarContainer .navBar {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

#navBarContainer .navBar .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  text-decoration: none;
  cursor: pointer;
}

#navBarContainer .navBar .logo p {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
}

#navBarContainer .navBar .logo img {
  width: 55px;
}

#navBarContainer .navBar .group {
  border-top: 1px solid;
  padding: 10px 0;
}

#navBarContainer .navBar .navItem {
  position: relative;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 500;
  display: block;
  letter-spacing: 1px;
  cursor: pointer;
}

#navBarContainer .navBar .navItem:hover span {
  color: #fff;
}

#navBarContainer .navBar .navItem span img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  vertical-align: center;
}

#mainViewContainer {
  margin-left: 220px;
  padding-bottom: 90px;
  width: calc(100% - 220px);
}

#mainViewContainer #mainContent{
  padding: 40px 40px 0 40px;
}

#mainContent .pageHeadingBig {
  padding: 20px;
  padding-top: 0;
  text-align: center;
  font-weight: 600;
}

#mainContent .gridViewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.gridViewItem {
  padding: 30px;
}

.gridViewItem img {
  width: 250px;
}

.gridViewItem span {
  cursor: pointer;
  transition: all 0.2s;
}

.gridViewItem span img:hover  {
  filter: brightness(0.8)
}

.gridViewItem .gridViewInfo {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.gridViewItem .gridViewInfo span {
  font-size: 15px;
  color: #939393;
  font-weight: 400;
}

.gridViewItem .gridViewInfo span:hover {
  filter: brightness(0.8);
  color: #fff;
}

.entityInfo {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.entityInfo .leftSection {
  width: 30%;
  float: left;
  padding-left: 20px;
  max-width: 250px;
}

.entityInfo .leftSection img {
  width: 100%
}

.entityInfo .rightSection {
  position: relative;
  width: 70%;
  float: left;
  padding: 5px 10px 5px 40px;
}

.entityInfo .rightSection h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 30px;
}

.entityInfo .rightSection p {
  color: #939393;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
}

.trackListContainer {
  padding: 0 20px 10px 20px;
}

.trackList {
  padding: 0;
  list-style: none;
  margin: 0;
}

.trackListRow {
  height: 40px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trackListRow span {
  color: #939393
}

.trackListRow:hover {
  background-color: #282828;
}

.trackListRow .trackCount {
  width: 8%;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
}

.trackListRow .trackCount img {
  width: 25px;
  visibility: hidden;
  position: absolute;
  cursor: pointer
}

.trackListRow:hover .trackCount img {
  visibility: visible;
}

.trackListRow:hover .trackCount span {
  visibility: hidden;
}

.trackListRow .trackInfo {
  width: 75%;
  float: left;
}

.trackListRow .trackInfo span {
  display: block;
}

.trackListRow .trackOptions {
  width: 5%;
  float: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trackListRow .trackOptions img {
  width: 19px;
  visibility: hidden;
}

.trackListRow:hover .trackOptions img {
  visibility: visible;
}

.trackListRow .trackDuration {
  width: 12%;
  text-align: right;
  font-family: Roboto, Arial, sans-serif;
}

.trackInfo .albumTrackName {
  color: #fff;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 500;
}

.trackInfo .albumArtistName {
  font-size: 15px;
}

.entityInfo .centerSection .artistInfo {
  text-align: center;
}

.button {
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  padding: 12px 26px;
  cursor: pointer;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  font-family: Roboto, Arial, Sans;
  transition: all 0.2s;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: translateY(5px)
}

.button:hover {
  background-color: rgba(250, 250, 250, 0.1);
}

.button.green {
  background-color: #1DB954;
  border-color: #1DB954;
}

.button.green:hover {
  filter: brightness(0.9)
}

.borderBottom {
  border-bottom: 1px solid #939393;
  padding: 0;
  padding: 15px;
  margin-bottom: 20px;
}

.artistPageTitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.searchContainer {
  background-color: #242424;
  padding: 20px 28px;
  margin-bottom: 30px;
}

.searchContainer h4 {
  margin: 0;
  font-weight: 400;
}

.searchContainer .searchInput {
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 65px;
}

.searchContainer .searchInput:focus {
  outline: none;
}

#navBarContainer .navBar .navItem:focus {
  outline: none;
}

.searchResultRow {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

.searchResultRow:hover  {
  color: #a0a0a0;
}

.artistInfo .albumArtistName {
  margin-top: 0;
}

.buttonItems {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.prompt {
  position: relative;
  background-color: #181818;
  height: calc(40% - 90px);
  width: 30%;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.prompt input {
  width: 50%;
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 25px;
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 8px;
}

.prompt input:focus {
  outline: none;
}

.prompt button {
  display: block;
  margin-bottom: 0; 
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

span [role='link'],
div [role='link'] {
  cursor: pointer;
}

span [role='link']:focus,
div [role='link']:focus {
  outline: none;
}

.gridViewPlaylist {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a0a0a0;
}

.gridViewPlaylist:hover {
  cursor: pointer;
}

.gridViewPlaylist:hover .playlistName {
  color: #fff;
}

.gridViewPlaylist .playlistImage {
  width: 30px;
  font-weight: 600;
  border: 1px solid #a0a0a0;
  margin: 0 8px;
}

.gridViewPlaylist .playlistName {
  font-size: 18px;
  color: #a0a0a0;
  font-weight: 600;
  letter-spacing: 1px;
}

.rightSection .delete {
  position: absolute;
  top: 25%;
  right: 0;
}

.rightSection .green {
  margin-top: 8px;
}

.playlistIcon {
  border: 1px solid #a0a0a0;
}

.visible {
  display: flex !important;
}

.rotated {
  transform: rotate(180deg);
}